%br
.row.content
  .12-large.columns
    %h1 Assignment
    %h2= @assignment.name
    %p= @assignment.description
.row
  .large-12.columns
    %h3 Students Assigned to This Assignment:
.row
  #assigngrades
    = render :partial=>'shared/assigngrades.js.haml'
