.row
  = form_tag 'students/enroll', :remote=>true  do
    .12-large.columns
      %h3 Students
      = select_tag "Klasses", options_from_collection_for_select(@auth.klasses.map{|klass| klass}, "id", "name_and_period"), :selected=>@auth.klasses.first
      = submit_tag "Enroll", :class=>'button radius tiny', :remote=>true
    .row
      .12-large.columns
        #student_list
          = render :partial=>'studentlist'