= form_tag '/enroll' do
  .row
    .6-large.columns
      %h1 Students
      = select_tag "Courses", options_from_collection_for_select(@auth.klasses.mapx(&:course), "id", "name")
      = submit_tag "Enroll", :class=>'button radius tiny'
    .6-large.columns
  .row
    .12-large.columns
      #student_list
        = render :partial=>'studentlist'