.container
  %br
  .row{:style=>'background-color:#fff;opacity:0.9;border-radius: 15px'}
    .large-12.columns
      .row
        .large-12.columns
          %h1{:style=>"opacity:1;font-family:Patrick Hand SC"} Welcome to Schoolbox
          %h2{:style=>'font-family:Patrick Hand SC'} What is Schoolbox?
          %p.edit_area
            Schoolbox is a social media and content management platform built for teachers to
            facilitate communication in their classrooms. Teachers can encourage online discussions,
            manage deadlines and assignments, and organize and disseminate course content to their students.
      .row
        .large-4.columns
          //%img{:src=>"http://placehold.it/400x300&text=[img]"}
          = image_tag '/assets/studying-tips.jpg', :style=>'border:3px solid #000;box-shadow: 2px 2px 10px gray'
          %h4 This is a content section.
          %p Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong. Eiusmod swine spare ribs reprehenderit culpa. Boudin aliqua adipisicing rump corned beef.
        .large-4.columns
          //%img{:src=>"http://placehold.it/400x300&text=[img]"}
          = image_tag '/assets/child-raising-hand.jpg', :style=>'border:3px solid #000;box-shadow: 2px 2px 10px gray'
          %h4 This is a content section.
          %p Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong. Eiusmod swine spare ribs reprehenderit culpa. Boudin aliqua adipisicing rump corned beef.
        .large-4.columns
          //%img{:src=>"http://placehold.it/400x300&text=[img]"}
          = image_tag '/assets/library-books.jpg', :style=>'border:3px solid #000;box-shadow: 2px 2px 10px gray'
          %h4 This is a content section.
          %p Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong. Eiusmod swine spare ribs reprehenderit culpa. Boudin aliqua adipisicing rump corned beef.
