 <!-- Footer -->

  <footer class="row" style='background-color: #fff'>
    <div class="large-12 columns">
      <hr />
      <div class="row">
        <div class="large-6 columns">
          <p>&copy; Copyright 2013 Brian Yingling</p>
        </div>
        <div class="large-6 columns">
          <ul class="inline-list right">
            <li><a href="http://brianyingling.github.com">Portfolio</a></li>
            <li><a href="#">Github Profile</a></li>
            <li><a href="#">LinkedIn</a></li>
            <li><a href="#">Tumblr Profile</a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>