 <!-- Footer -->

  <footer class="row" style='background-color: #fff'>
    <div class="large-12 columns">
      <hr />
      <div class="row">
        <div class="large-6 columns">
          <p class='footer_font'>&copy; Copyright 2013 Brian Yingling</p>
        </div>
        <div class="large-6 columns">
          <ul class="inline-list right iconlist">
            <li><%= link_to image_tag("icons/addthis.png", :class=>'icons'), 'http://brianyingling.github.io' %>
            <li><%= link_to image_tag("icons/github.png", :class=>'icons'), 'http://github.com/brianyingling' %>
            <li><%= link_to image_tag("icons/linkedin.png", :class=>'icons'), 'http://www.linkedin.com' %>
            <li><%= link_to image_tag("icons/tumblr.png", :class=>'icons'), 'http://www.tumblr.com/blog/brianyingling' %>

          </ul>
        </div>
      </div>
    </div>
  </footer>