- klass.students.each do |student|
  %tr
    %td= link_to student.first_name, student
    %td= link_to student.last_name, student
    %td= student.klass_average(klass)
    = render :partial => 'klasses/klass_table_assignments', :locals => {:klass => klass, :student => student}
